topdownsample/wsdl/customer.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="customers">
        <xs:sequence>
            <xs:element name="cutomerlist" type="customer" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="customer">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
            <xs:element name="age" type="xs:integer"/>
            <xs:element name="sex" type="xs:string"/>

        </xs:sequence>
    </xs:complexType>
</xs:schema>